@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fredoka', sans-serif;
  background: #e4bbf7;
  font-size: 20px;
}

/* HEADER */
.header {
  background: #b5e5f6;
}

/* MONTH CELL */
.month-cell {
  background: #F5F2F9;
  border-radius: 24px;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  height: 120px; /* mobile height */
}

.month-cell:hover {
  transform: scale(1.03);
}

/* DESKTOP SIZE */
@media (min-width: 768px) {
  .month-cell {
    height: 170px;
  }
}

.day-number {
  font-size: 20px;
  font-weight: 600;
  color: #351c60;
}

.event-pill {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 16px;
  margin-top: 6px;
  color: white;
  width: fit-content;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* RIGHT CARD */
.info-card {
  background: #F2CFC3;
  border-radius: 36px;
  padding: 28px;
}

/* TIMELINE */
.timeline-panel {
  background: white;
  border-radius: 16px;
  padding: 24px;
  height: 520px;
  overflow-y: auto;
  position: relative;
}

.hour-line {
  height: 60px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #777;
  padding-left: 8px;
}